
logging:
  level: INFO
  appenders:
    - type: console
      threshold: ALL
      target: stderr

server:
  type: simple
  applicationContextPath: /
  adminContextPath: /admin
  connector:
    type: http
    port: 9000